.home-banner {
  background: linear-gradient(83deg, #B7DBFF -25.48%, #EBF2F9 57.23%);
}
.home-banner__container {
  position: relative;
}
.home-banner__background {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
@media (max-width: 999px) {
  .home-banner__background {
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
  }
}
.home-banner__background img {
  width: auto;
  height: 100%;
}
@media (max-width: 999px) {
  .home-banner__background img {
    width: 100%;
    height: auto;
  }
}
.home-banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  min-height: 544px;
  height: auto;
}
@media (max-width: 999px) {
  .home-banner__wrapper {
    grid-template-columns: 1fr;
    min-height: auto;
    padding: 48px 0;
    z-index: 2;
    gap: 16px;
  }
}
@media (max-width: 999px) {
  .home-banner .page-width {
    z-index: 1;
    position: relative;
  }
}
.home-banner__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 80px 0;
}
@media (max-width: 999px) {
  .home-banner__content {
    padding: 0;
    align-items: center;
  }
}
.home-banner__content h1 {
  margin-top: -8px;
  color: #0F2F4F;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.96px;
  text-transform: capitalize;
}
@media (max-width: 999px) {
  .home-banner__content h1 {
    font-size: 32px;
    text-align: center;
  }
}
.home-banner__content h1 span {
  color: rgba(15, 47, 79, 0.29);
}
.home-banner__content p {
  color: #0F2F4F;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 400px;
}
@media (max-width: 999px) {
  .home-banner__content p {
    text-align: center;
  }
}
@media (max-width: 999px) {
  .home-banner__content .home-banner__button {
    display: none;
  }
}
.home-banner__button {
  margin-top: 8px;
}
@media (max-width: 999px) {
  .home-banner__button {
    margin-top: 32px;
  }
}
.home-banner__button .btn {
  color: #FFF;
  display: inline-flex;
  padding: 16px 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #0E83F9;
}
@media (max-width: 999px) {
  .home-banner__button .btn {
    min-width: 300px;
  }
}
.home-banner__image {
  position: relative;
}
@media (max-width: 999px) {
  .home-banner__image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 999px) {
  .home-banner__image picture img {
    max-height: 400px;
  }
}
.home-banner__image .home-banner__button {
  display: none;
}
@media (max-width: 999px) {
  .home-banner__image .home-banner__button {
    margin-top: 32px;
    display: flex;
    justify-content: center;
  }
}
.home-banner__image-logos {
  position: absolute;
  left: 0;
  bottom: 80px;
}
@media (max-width: 999px) {
  .home-banner__image-logos {
    position: relative;
    bottom: 0;
    margin-top: 16px;
  }
}
.home-banner__image-logos-item {
  padding: 0 12px;
  border-right: 1px solid #D9D9D9;
}
@media (max-width: 999px) {
  .home-banner__image-logos-item {
    padding: 0 16px;
  }
}
.home-banner__image-logos-item:first-child {
  padding-left: 0;
}
.home-banner__image-logos-item:last-child {
  border-right: none;
  padding-right: 0;
}
.home-banner__image-wrapper {
  background-color: #FFF;
  border-radius: 8px;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media (max-width: 999px) {
  .home-banner__image-wrapper {
    padding: 0;
    background-color: transparent;
  }
}
.home-banner__image-top {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  color: #0E83F9;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%; /* 18.2px */
  letter-spacing: -0.28px;
  text-transform: capitalize;
}
.home-banner__image-bottom {
  display: flex;
  align-items: center;
}
.home-banner__reviews {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0F2F4F;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
.home-banner__reviews-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-banner__reviews-img-item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24.381px;
  border: 1.5px solid #DAEEF8;
}
.home-banner__reviews-img-item:not(:first-child) {
  margin-left: -10px;
}
.home-banner__reviews-img-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-banner__reviews-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #FFF;
  border: 1.5px solid #DAEEF8;
  background: #0E83F9;
  color: #FFF;
  font-size: 10px;
  font-weight: 700;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}